.navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	height: 72px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 600;
}

.navbar-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

ul:first-child {
	text-decoration: none;
	margin-left: 48px;
}

.navbar-links a {
	text-decoration: none;
	margin-right: 24px;
	color: #000000;
}

.navbar-link a:hover {
	text-decoration: underline;
}