body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-color: rgb(70, 188, 247); 
    border: 2px solid;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 150%; 
    padding: 30%; 
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    justify-content: center;
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;

}
.form label {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;

}

.form input[type="submit"] {
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(66, 172, 239);

    
}
.form-group {
    display: flex;
    flex-direction: column;
  }

.logInButton {
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;

}


.submitOption{
    display: flex;
    justify-content: space-between;

}