body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-color: rgb(70, 188, 247); 
    border: solid;
}



form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 2em; /* Reasonable padding */
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    justify-content: center;
    border: solid blue;
    margin: 1em 0;
}
.form label {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: auto;
}

.form input[type="submit"] {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    background-color: rgb(66, 172, 239);  
}

.form-group {
    display: flex;
    flex-direction: column;
}

.logIn-Button {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
}

.submit-Option {
    display: flex;
    justify-content: space-between;
}

.box-outside {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0;
    width: 100%;
    text-align: center;
}
