body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #7692ff
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 2em; /* Reasonable padding */
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    justify-content: center;
    border: solid blue;
    margin: 1em 0;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 20%;
}

.form input[type="submit"] {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    background-color: rgb(66, 172, 239);  
}

.form input[type="email"] {
    margin: 6%;
    font-size: large;

}
.form input[type="password"] {
    margin: 6%;
    font-size: large;
}

.submit-Option {
    display: flex;
    justify-content: space-between;
}
.logIn-Button {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 20%;
}

.signUp-Button {
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
    border-radius: 20%;
    background-color: rgb(66, 172, 239);
    
}
